extends layout

block banner-logo
    header(data-role='header',
        data-position='fixed')
        //- img(src='images/star-logo.png')
        //- Done with colored font icon instead of png
        p.star-logo &#10040

block arrow-logo
    a(href='#',
        data-rel='back',
        data-direction='reverse')
        header(data-role='header',
            data-position='fixed')
            //- img(src='images/arrow-nav.png')
            //- Done with CSS instead of png
            #arrow-nav

block music-control
    #music_control
        audio#music_loop(loop)
            source(src='media/music_loop.m4a')
        a(href="#" onclick='toggleMusic();')
            i(class='fa fa-volume-off')
            | sound on

block footer
    footer(data-role='footer', class='ui-bar')
        a(href='#main-menu', class='ui-btn ui-icon-home ui-btn-icon-notext ui-corner-all',
            data-direction='reverse')
        a(href='#cards', class='ui-btn ui-icon-grid ui-btn-icon-notext ui-corner-all')
        a(href='#reference_guide', class='ui-btn ui-icon-bars ui-btn-icon-notext ui-corner-all')
        a(href='#more-info', class='ui-btn ui-icon-info ui-btn-icon-notext ui-corner-all')

block video
    #movie
        video.myVideo.demos(controls='', type='video/mp4', webkit-playsinline)

block video-nocontrols
    #movie
        video.myVideo(type='video/mp4', webkit-playsinline, loop)

block content
    // TABLE OF CONTENTS
    #main-menu(data-role='page')

        block banner-logo

        .content
            ul.ui-nodisc-icon(data-role='listview', data-inset='true')
                li.uppercase
                    a(href='#cards') Healing sequences
                li.uppercase
                    a(href='#reference_guide') symptoms and conditions
                li.uppercase
                    a(href='#how_to_use') how to use this app
                li.uppercase
                    a(href='#begin_healing') Beginning the Healing Session
                li.uppercase
                    a(href='#about') About the healing techniques

        block footer


    // MORE INFO PAGE
    #more-info(data-role='page')

        block arrow-logo

        .content
            ul.ui-nodisc-icon(data-role='listview', data-inset='true')
                li.uppercase
                    a(href='#about_roland') About Roland Yakoubov
                li.uppercase
                    a(href='#disclaimer') disclaimer
                li.uppercase
                    a(href='#follow_us') Follow Us
                li.uppercase
                    a(href='mailto:roland@rolandhealinghands.com') Contact Us
                li.uppercase
                    a(href='#credits') Credits

        block footer


    // HEALING REFERENCE GUIDE PAGE
    #reference_guide(data-role='page')

        block arrow-logo

        .content
            ul.ui-nodisc-icon(data-role='listview', data-inset='true')
                li.uppercase(onclick='setSequence(1,2,5,6,7,4,5,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Migraine/Headaches
                li.uppercase(onclick='setSequence(1,2,5,7,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Neck Pain
                li.uppercase(onclick='setSequence(1,2,5,81,82,9,3,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Overall Body Pain
                li.uppercase(onclick='setSequence(1,2,5,7,9,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Gastric Stomach Pain Spasms
                li.uppercase(onclick='setSequence(1,2,5,81,82,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Diarrhea
                li.uppercase(onclick='setSequence(1,2,81,82,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Chronic Constipation
                li.uppercase(onclick='setSequence(1,2,5,11,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Flu
                li.uppercase(onclick='setSequence(1,2,5,7,9,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Bladder Pain
                li.uppercase(onclick='setSequence(1,2,7,9,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') PMS/Cramps
                li.uppercase(onclick='setSequence(1,2,5,10,11,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Shoulder Pain
                li.uppercase(onclick='setSequence(1,2,7,81,82,9,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Back Pain
                li.uppercase(onclick='setSequence(1,2,5,7,9,10,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Dementia
                li.uppercase(onclick='setSequence(1,2,5,6,9,11);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Thyroid
                li.uppercase(onclick='setSequence(1,2,5,8,9,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Knee Pain
                li.uppercase(onclick='setSequence(1,2,7,11,131,132,133);resetIndex();setupVideo(0,0);')
                    a(href='#card_0') Leg Pain/Cramps

        block footer


    // HEALING CARDS PAGE
    #cards(data-role='page')

        block arrow-logo

        .content
            .ui-grid-a
                ul.ui-block-a(data-role='listview', data-inset='true', data-icon="false")
                    li.card-description(onclick='setSequence(1);setupVideo(1,0);')
                        a(href='#card_1') Balancing Energy Distribution
                    li.card-description(onclick='setSequence(3);setupVideo(3,0);')
                        a(href='#card_3') Energizing Sequence: Mobilization of Chi Energy
                    li.card-description(onclick='setSequence(5);setupVideo(5,0);')
                        a(href='#card_5') Pinch of Salt
                            br
                            .footnote apply to the specific area of concern
                    li.card-description(onclick='setSequence(7);setupVideo(7,0);')
                        a(href='#card_7') Spiral Pulling
                            br
                            .footnote apply to the specific area of concern
                    li.card-description(onclick='setSequence(9);setupVideo(9,0);')
                        a(href='#card_9') Directing Energy Flow
                    li.card-description(onclick='setSequence(11);setupVideo(11,0);')
                        a(href='#card_11') Energy Cocooning: Energy Firming or Shielding
                    li.card-description(onclick='setSequence(131,132,133);setupVideo(13,0);')
                       a(href='#card_13') Ending the Healing Session

                ul.ui-block-b(data-role='listview', data-inset='true', data-icon="false")
                    li.card-description(onclick='setSequence(2);setupVideo(2,0);')
                        a(href='#card_2') Opening and Repairing the Energy field: Knitting Movement
                    li.card-description(onclick='setSequence(4);setupVideo(4,0);')
                        a(href='#card_4') Scissors Movement
                            br
                            .footnote apply to the specific area of concern
                    li.card-description(onclick='setSequence(6);setupVideo(6,0);')
                        a(href='#card_6') Pressing Sequence
                            br
                            .footnote apply to the specific area of concern
                    li.card-description(onclick='setSequence(81,82);setupVideo(8,0);')
                        a(href='#card_8') Clockwise &amp; Counterclockwise Circular Motion: To Reset the Chi
                    li.card-description(onclick='setSequence(10);setupVideo(10,0);')
                        a(href='#card_10') Energy &quot;Flossing&quot;: Unblocking Energy Pathways
                    li.card-description(onclick='setSequence(121,122,123);setupVideo(12,0);')
                        a(href='#card_12') Contact Healing
                    li.card-description
                        a(href='#')

        block footer


    // ABOUT THESE UNIQUE HEALING TECHNIQUES
    #about(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1.uppercase About These Unique Healing Techniques
            p
                | These techniques were developed by Djuna Davitashvili, a world
                | famous Russian healer and aunt to Roland Yakoubov. They have been
                | published in medical journals as an unexplained healing phenomenon
                | of bioenergy fields. These techniques are acknowledged world wide,
                | and have been registered with the United Nations: Academy of
                | Alternative Medical Science.
            p
                | All of the movements must be performed in precise order.
                | Approach the movements, as if the hands were gliding through
                | water and a gentle resistance exists. The resistance will slowly
                | increase as you make contact with the patient&#39;s energy. The patient&#39;s
                | body is seldom actually touched. Instead, the work takes place
                | around the patient in the living energy field. These movements
                | help to reprogram the metabolism and return a healthy calmness to the body.
            p
                | The healer begins the session by positioning a hand on either
                | side of the patient at the hip area. The fingertips are positioned
                | slightly apart, with the fingers and palms gently curved versed,
                | and the entire sequence repeated without stopping for 5 or 6 minutes.

        block footer

    // HOW TO USE THIS APP
    #how_to_use(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1.uppercase how to use this app
            p
                | Before perfoming any of the full healing programs, we advise
                | you to familiarize yourself with the 13 Healing Sequences.
                | Read the description for each of the movements thoroughly and then watch the video for practice.
            p
                | Once familiar with the movements, search the list of symptoms
                | and conditions for the ones that describe what you suffer from.
            p
                | Follow along with the video and perform as indicated.

        block footer

    // DISCLAIMER
    #disclaimer(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1.uppercase disclaimer
            p
                | The information presented herein is in no way intended as
                | medical advice or to serve as a substitute for medical
                | counseling.  The information should be used in conjunction with
                | the guidance and care of your physician.  The information may
                | not apply to you and before you use any of the information
                | provided in the app, you should contact a qualified medical,
                | dietary, fitness, or other appropriate professional.  If you utilize
                | any information provided in this app, you do so at your own
                | risk and you specifically waive any right to make any claim
                | against rolandhealinghands.com or Roland Yakoubov Bioenergetic Healing,
                | its employees or representatives, as the result of the use of
                | such information.

        block footer

    // ABOUT ROLAND YAKOUBOV
    #about_roland(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            img.rolandImg(src='images/about.jpg')
            h1.uppercase about roland yakoubov
            p
                | Roland Yakoubov is a graduate of the United Nation's Academy of Alternative
                | Medical Science, and was awarded the Gold Star of Excellence in Diagnostics and Healing.
            p
                | In 1983, the Russian government granted two million dollars in
                | grants and research funding to Roland and his aunt, Djuna Davitashvili, who developed
                | these techniques. However, in the 1990's Roland moved to the US to practice his
                | techniques abroad. His techniques
                | were instantly acknowledged by major celebrities and dignitaries,
                | as they experienced the positive results of his healings. Some of
                | his clients have included Jennifer Lopez, Dustin Hoffman&#39;s mother,
                | Rosanna DeSoto, Matthew Vanleeuwen, the Khashoggi family, as well
                | as Princess Diana who Roland was scheduled to meet one week prior to her passing.

        block footer

    // CREDITS
    #credits(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1.uppercase credits
            dl
                dt Lead Designer
                    dd Sal Camacho
                dt Lead Software Developer
                    dd Rico Rodriquez Collins
                dt Model
                    dd Stephanie Markel
                dt Camera DP
                    dd Danny Deschamps
                dt Audio Recording and Music
                    dd Ricky Godinez

        block footer

    // BEGINNING THE HEALING SESSION
    #begin_healing(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1.uppercase Introduction
            p
                | The energy healing techniques described in this method are touch
                | free, non-toxic and health restoring. They were developed in the
                | former Soviet Union in the 1980s, and have been extensively studied
                | by world-renowned physicists, mathematicians and physicians. These
                | techniques have proven to be extremely effective in treating a
                | variety of physical ailments. They have shown significant results
                | improving circulation, metabolism and to help strengthen the immune
                | system and improve speed of recovery. However, they are not intended
                | to replace conventional medical treatment of any kind. Both patient
                | and healer are strongly encouraged to seek medical advice from a qualified,
                | licensed healthcare provider before attempting any treatment modality.

            h1.uppercase Preparing the Patient for Energy Healing
            p
                | In every medical profession it is important to determine the
                | precise diagnosis. It would be logical before preparing your
                | patient for a healing session to ask for their medical diagnoses
                | and any pertinent healthcare documentation. After establishing
                | the diagnosis the healer will be able to select the correct
                | approach with the patient. Healers must be able to describe their
                | work and allow the patient to understand the end result. After
                | this the healer needs to describe how the session will be conducted.
                | Introductions are made and the patient is offered to sit down in a
                | comfortable chair. The patient is asked to rest both hands on the
                | knees with the palms facing upward. The legs should be uncrossed
                | and the feet should be flat on the floor. This is the receiving
                | position. Throughout the session the patient&#39;s hands and feet
                | should never cross, but remain still and comfortable in the
                | receiving position. Now, gently ask the patient to relax and
                | allow the healing to begin. The session requires two chairs,
                | one for the patient and one for the healer. After both healer
                | and patient are seated the work of healing begins.

        block footer

    // FOLLOW US
    #follow_us(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1.uppercase Follow us
            p
                a(href="https://m.facebook.com/RolandHealing" target="_blank" onclick="window.open('https://m.facebook.com/RolandHealing', '_blank', 'location=yes'); return false;")
                    i(class='fa fa-facebook-square')
                    | RolandHealing
            p
                a(href="https://mobile.twitter.com/RolandYakoubov" target="_blank" onclick="window.open('https://mobile.twitter.com/RolandYakoubov', '_blank', 'location=yes'); return false;")
                    i(class='fa fa-twitter-square')
                    | @RolandYakoubov
            p
                a(href="http://rolandyakoubov.tumblr.com/mobile" target="_blank" onclick="window.open('http://rolandyakoubov.tumblr.com/mobile', '_blank', 'location=yes'); return false;")
                    i(class='fa fa-tumblr-square')
                    | RolandYakoubov

        block footer

    // CARD_1 - Balancing Energy Distribution
    #card_1(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Balancing Energy Distribution

            p
                | All of the following movements must be performed precisely.
                | Approach the movements, as if the hands were gliding through
                | water and a gentle resistance exists. The resistance will slowly
                | increase as you make contact with the patient&#39;s energy. The patient&#39;s
                | body is seldom actually touched. Instead, the work takes place
                | around the patient in the living energy field. These movements
                | help to reprogram the metabolism and return a healthy calmness to the body.
            p
                | The healer begins the session by positioning a hand on either
                | side of the patient at the hip area. The fingertips are positioned
                | slightly apart, with the fingers and palms gently curved upwards,
                | as if the healer was holding a large grapefruit in each hand.
                | The healer now slowly inhales through the nostrils and continues
                | to inhale while moving the hands upwards until they are facing
                | just above the patient&#39;s head (crown chakra). The hands nearly
                | come together above the head but do not touch each other. The
                | hands never touch each other. The hands are now in a position
                | above the patient&#39;s head, as if the healer were holding a crown between them.
            p
                | The movement is now reversed. The healer slowly begins to exhale,
                | and continues to exhale, while simultaneously rotating the curved
                | fingertips and palms downward. The hands now gently glide down to
                | the original starting point at the patient&#39;s hips, where the hand
                | motions are again reversed and the entire sequence repeated without
                | stopping for 5 or 6 minutes.

        block footer

    // CARD_2 - Opening and Repairing the Energy field: Knitting Movement
    #card_2(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Opening and Repairing the Energy field: Knitting Movement

            p
                | The left hand will now receive information from the patient&#39;s
                | energy field and the right hand will send a new reprogrammed
                | signal back to that field. The body will accept that signal as
                | its own and healing will begin. Begin with both hands facing each
                | other in front of the patient&#39;s forehead between the eyebrows.
                | Keep the left hand still so that body signals can be intuitively
                | sensed. Damaged energy that the patient&#39;s body is not able to
                | release will leave the patient&#39;s body and seek ground by entering
                | the healer&#39;s left hand. Healthy energy is already grounded by
                | the patient&#39;s own body and will not be affected.
            p
                | The healer now gently inhales through the nostrils and simultaneously
                | moves the right hand away from the left hand about six inches.
                | The healer then exhales through the nostrils and simultaneously
                | moves the right hand back to the beginning position. Both hands
                | then are then lowered about an inch and the sequence is repeated
                | over and over again until both hands are at the level of the bladder.
            p
                | These movements through the patient&#39;s living energy field help
                | to reprogram the metabolism by improving the patient&#39;s microcirculation
                | and establishing balance in the energy flow. A healthy calmness
                | returns to the body when irregular signals have been removed
                | from the living energy field.

        block footer

    // CARD_3 - Energizing Sequence: Mobilization of Chi Energy
    #card_3(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Energizing Sequence: Mobilization of Chi Energy

            p
                | Both hands are now positioned parallel to each other in front of
                | the patient&#39;s umbilicus with the palms turned downwards and the
                | fingertips slightly spread apart. The healer inhales slowly through
                | the nostrils and brings both hands upward to the level of the throat.
                | As the hands move upwards the fingertips are curled into a fist.
                | When the throat area is reached, the healer exhales through the
                | nostrils and lowers both curled hands back to the level of the umbilicus.
                | When the original position is attained, the hands then uncurl
                | and the sequence is repeated for 5 to 6 minutes.
            p
                | This sequence addresses patients that experience severe exhaustion,
                | anxiety, cardiac arrhythmias, hypotension, fatigue and overall malaise.
                | This sequence should be avoided for patients with hypertension.

        block footer

    // CARD_4 - Scissors Movement
    #card_4(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Scissors Movement

            p
                | The healer now positions both hands parallel to each other,
                | palms facing downwards and about 1.5 inches apart from each other
                | in front of the patient&#39;s throat. The healer inhales through the
                | nostrils and moves both hands away from each other until the area
                | of patient&#39;s shoulders is reached. The healer then begins to
                | exhale and both hands are moved back to the center of the patient&#39;s
                | body until one hand is positioned above the other without touching.
                | From this position the hands are then moved apart as the healer
                | inhales and the entire sequence is repeated for 3 to 5 minutes.
                | The motion resembles opening and closing a pair of scissors or garden shears.
            p
                | This sequence will improve thyroid function, resolve goiters,
                | strengthen the immune system and facilitate faster healing of
                | body tissues.

        block footer

    // CARD_5 - Pinch of Salt
    #card_5(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Pinch of Salt

            p
                | At the level of the bladder both hands move about 12 inches apart.
                | The thumb of each hand then sequentially touches (rubs) each
                | fingertip of the hand, starting with the little finger and move
                | up the hand to the index finger. The motion resembles picking up
                | a pinch of salt smoothly between thumb and each finger of the hand.
                | This move is designed to remove excess and irregular energy signals
                | that have been absorbed from the patient.
            p
                | Whenever the healer&#39;s hands feel heaviness, throbbing, or tingling
                | the pinch of salt movement should be performed. You may perform
                | this for 1 to 3 minutes according to the intensity of the signals
                | in your hands.

        block footer

    // CARD_6 - Pressing Sequence
    #card_6(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Pressing Sequence

            p
                | The pressing sequence is used to increase circulation and decrease
                | inflammation of the organs. The healer&#39;s hands are positioned facing
                | each other with the fingertips slightly spread apart. The healer
                | inhales and both hands are moved about 6 inches apart. The healer
                | then exhales and both hands are moved back to the starting position
                | without touching. This sequence is repeated for 5 to 10 minutes.
            p
                | As the sequence is performed, the healer will sense a magnetic field
                | building between the hands. The sensation is faint in the beginning,
                | but will grow stronger as the work continues. These movements should
                | be done slowly and purposefully, as if the space between the hands
                | is somehow being compressed. The patient will feel a warm to almost
                | hot sensation in the area receiving healing. Many actually feel the
                | pressing movement itself, even though the healer&#39;s hands have never
                | touched them. Some experience muscle contractions. This movement
                | helps to charge the body&#39;s circulation and increase organ productivity.
                | It can be performed on three different organs at
                | once (liver, gallbladder and spleen), or it can be done individually
                | for each organ. It is quite beneficial for the adrenal glands and kidneys.

        block footer

    // CARD_7 - Spiral Pulling
    #card_7(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Spiral Pulling


            p
                | This is a wonderful way of balancing the chi of your spine and
                | central nervous system. It improves brain function by balancing
                | seratonin levels, increasing the reaction speed of neurotransmitters
                | while decreasing chemical imbalances in the brain. It is especially
                | beneficial for the knee and tailbone areas.
            p
                | With the right hand only, position the fingers as if the hand is
                | gently holding a small ball. The fingertips do not touch each other.
                | Starting at the back of the patient&#39;s head, begin to make continuous,
                | circular movements in a clockwise position, as if the hand was writing
                | the number zero over and over again. Move the hand very slowly down
                | the spine, collecting irregular signals in the palm until the tailbone
                | area is reached. Perform the salt pinching motion until the hand feels
                | free of any sensations that may have accumulated. The hand is then
                | moved freely to the starting position and the entire sequence repeated
                | for 1 to 5 minutes.

        block footer

    // CARD_8 - Clockwise & Counterclockwise Circular Motion: To Reset the Chi
    #card_8(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Clockwise &amp; Counterclockwise Circular Motion: To Reset the Chi

            h2(style="margin-top: 0;")
                button(data-mini = 'true', style="display: inline; width: 30%;", onclick='setSequence(81);setupVideo(8,0);')
                    a(href='#card_8') clockwise
                button(data-mini = 'true', style="display: inline; width: 50%;", onclick='setSequence(82);setupVideo(8,1);')
                    a(href='#card_8') counter-clockwise

            p
                | This sequence will relieve constipation when performed clockwise,
                | or it will improve the symptoms of diarrhea when you perform
                | counter-clockwise. Start the sequence around the patient&#39;s umbilicus.
                | Right hand positioned as described above, make 7 full circles around
                | the bellybutton. The duration of each circle is about 60 seconds,
                | moving clock wise or counter clock wise according to the ailment.
                | When finished, slightly bring your hand to the right and perform
                | the Pinch of Salt Move to remove the irregular signals. This sequence
                | is particularly beneficial for people with colon polyps and will
                | significantly balance the intestinal circulation.

        block footer

    // CARD_9 - Directing Energy Flow
    #card_9(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Directing Energy Flow

            p
                | The goal of directing energy flow is to charge individual areas
                | of the patient&#39;s body for advanced healing techniques.
            p
                | The healer begins the sequence by positioning both hands parallel
                | to each other about 2 to 3 inches apart with the curved fingertips
                | slightly spread and both thumbs facing the fingertips. The hands are
                | positioned about 2 to 3 inches away from the area of the patient&#39;s
                | body the healer wishes to charge. The hands do not move and the
                | healer&#39;s breathing is unrestricted. It is very important to keep
                | the hands in a stable yet relaxed position. Direct your fingertips
                | slightly toward the organ being charged and wait. A warm or cold
                | feeling may develop between both hands. The palms may perspire.
                | Pay attention to any irregular signals as they enter the hands.
                | At regular intervals, remove these by performing the Pinch of Salt movement.

        block footer

    // CARD_10 - Energy "Flossing": Unblocking Energy Pathways
    #card_10(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Energy &quot;Flossing&quot;: Unblocking Energy Pathways

            p
                | Energy flossing can be done on any part of the body except the heart.
                | The basic concept of this process is to establish an energy connection
                | from one hand of the healer to the other via an invisible thread
                | passing through the patient&#39;s body
            p
                | The healer begins this sequence by positioning both hands parallel
                | to each other, fingertips slightly apart with both thumbs pointed
                | towards the fingertips. The healer&#39;s breathing is easily and
                | without constraint. Hold this position on either side of the
                | patient&#39;s body. Wait to sense a fine thread of energy that connects
                | the palms of both hands. Do not rush this.
            p
                | Once the connection is made begin to slowly move both hands back
                | and forth with a flossing motion. Both hands move in the same
                | direction and the same distance. When the left hand moves to the
                | left, the right hand will also move to the left with the same
                | distance. Repeat these movements for 5 to 7 minutes.

        block footer

    // CARD_11 - Energy Cocooning: Energy Firming or Shielding
    #card_11(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Energy Cocooning: Energy Firming or Shielding

            p
                | The creation of an energy cocoon or shield begins at the patient&#39;s
                | temples. The healer stands in front of the patient and extends
                | both arms outward, as if preparing to embrace the patient.
                | Hands are widely parallel to each other, and the fingertips are
                | slightly apart with thumbs facing the fingertips. The healer&#39;s
                | breathing is free and at will. The healer then begins to compact
                | the living energy field by moving both hands simultaneously towards
                | the patient&#39;s body and &quot;patting&quot; or compacting the energy closer
                | to the patient&#39;s body. The motion resembles adding handfuls of snow
                | to a snowman&#39;s body, but the hands never touch each other or the patient&#39;s body.
            p
                | This back and forth compacting motion is done slowly from the
                | patient&#39;s head area all the way to the feet. The healer then moves
                | 45 degrees to the patient&#39;s side and repeats the sequence from the
                | feet area back to the head. When this is finished the healer will
                | then move another 45 degrees to the patient&#39;s back and repeats
                | the sequence from the head down to the feet. All four sides of
                | the patient&#39;s body must be compacted until the healer is back at
                | the original position. This can be repeated several times.

        block footer

    // CARD_12 - Contact Healing
    #card_12(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1
                a(href='#cards', data-direction="reverse") Contact Healing
            h2(style="margin-top: 0;")
                button(data-mini = 'true', style="display: inline; width: 25%;", onclick='setSequence(121);setupVideo(12,0);')
                    a(href='#card_12') part 1
                button(data-mini = 'true', style="display: inline; width: 25%;", onclick='setSequence(122);setupVideo(12,1);')
                    a(href='#card_12') part 2
                button(data-mini = 'true', style="display: inline; width: 25%;", onclick='setSequence(123);setupVideo(12,2);')
                    a(href='#card_12') part 3

            p
                | The sacred writings of many world religions describe what is known
                | as &quot;the laying on of hands&quot;. This is perhaps the most intimate form
                | of energy healing and involves the direct touching of the patient&#39;s body.
                | The healer places both hands on either side of the body part to receive
                | healing and waits. During this time the healer may reassure the
                | patient and speaks in a quiet and pleasant manner.
            p
                | Contact healing is particularly useful for patients suffering
                | from stroke, Parkinson Disease, epilepsy, migraines, depression
                | and other neurological disturbances. It helps to calm the mind
                | and regulate the proper flow of life energies. This will result
                | in a sense of peace and overall well being.
            p
                | There are few rules related to contact healing. The most important
                | being time. The contact must be established and maintained for at
                | least 15 to 25 minutes depending on the patient&#39;s condition.
                | Should the healer feel irregular signals in the hands that may
                | be perceived as throbbing, sweatiness, tingling, heat/cold, or
                | heaviness the pinch of salt maneuver should be performed.
                | Immediately following the pinch of salt maneuver return to contact healing.
            p
                | This technique also works well for the kidneys. Place both hands
                | on each side of patient&#39;s kidneys for 15 to 25 minutes. This grounds
                | and improves the blood flow for the kidneys and adrenal glands,
                | and will help to balance both high and low blood pressure. For
                | ailments of the stomach including digestive disorders, ulcers, and
                | hernias, apply one hand to the patient&#39;s stomach from the front
                | and other from the back. Maintain contact healing for 15 to 17 minutes.

        block footer

    // CARD_13 - Ending the Healing Session
    #card_13(data-role='page')

        block arrow-logo

        block video

        .content.bg_white(data-role='content')
            h1 Ending the Healing Session
            h2(style="margin-top: 0;")
                button(data-mini = 'true', style="display: inline; width: 25%;", onclick='setSequence(131);setupVideo(13,0);')
                    a(href='#card_13') part 1
                button(data-mini = 'true', style="display: inline; width: 25%;", onclick='setSequence(132);setupVideo(13,1);')
                    a(href='#card_13') part 2
                button(data-mini = 'true', style="display: inline; width: 25%;", onclick='setSequence(133);setupVideo(13,2);')
                    a(href='#card_13') part 3

            p
                | Correctly ending the healing session is as important as correctly
                | beginning the session, as it is the final process of permanently
                | removing toxic energies from the body. End each energy healing
                | session by grounding these energies. This is accomplished by a
                | double hand technique that resembles a type of direct contact
                | massage. Both hands will move in a circular, clockwise direction
                | with the patient&#39;s body between them. At first this might appear
                | to be easy, however to the beginning energy healer the pattern of
                | movement may feel as confusing as the proverbial "pat your head
                | and rub your belly" game played by children.
            p
                | To correctly do this sequence, conceptualize the patient&#39;s body
                | in two parts. Both the front of the body and the back of the body
                | are facing the healer at the same time. Place the right hand on
                | the patient&#39;s chest and the left hand on the patient&#39;s back.
                | Now move both hands in a circular, clockwise manner, as if
                | writing the number zero over and over again. Once this is
                | accomplished, conceptualize turning the front side of the body
                | 90 degrees away from the healer. The patient&#39;s right shoulder
                | should be facing the healer. Now move both hands in the same
                | circular, clockwise manner. Once this is accomplished, conceptualize
                | turning the backside of the body 90 degrees away from the healer.
                | The patient&#39;s left shoulder should be facing the healer. Continue
                | to move both hands in the same circular, clockwise motion as before.
                | Repeat this motion 7 times.
            p
                | Key note: No matter how the patient&#39;s body is positioned, or where
                | the healer is positioned, the hand moving across the patient&#39;s body
                | moves in a clockwise manner. If another person was watching the
                | movement directly in front of or directly in back of the patient&#39;s
                | body, the hand moving across the patient&#39;s body moves in a clockwise manner.

            p
                | The next sequence involves using one hand only. With the right
                | hand positioned at the nap of the patient&#39;s neck, make a horizontal,
                | sweeping motion down the spine to the tailbone. Then, from the tailbone
                | move the hand with a sweeping motion back up to the nap of the neck.
                | Do this down/up sweeping motion 7 times.
            p
                | Now ask the patient to stand. With both hands gently grab the
                | patient&#39;s ankles at the Achilles tendon and with your index finger
                | and thumb give the tendon a tiny pinch for five seconds and then let go.
                | This completes the final energy grounding for the session.

        block footer

    // HEALING REFERENCE GUIDE VIDEO PAGE
    #card_0(data-role='page')

        block arrow-logo
        block music-control

        block video-nocontrols

        .content.bg_white(data-role='content')
            .reference-title
                h1 REFERENCE TITLE

            .example.stopwatch(data-timer="300")
            .stopwatch-controls(data-role="controlgroup" data-type="horizontal")
                button(class="backward fa fa-step-backward")
                button(class="restart fa fa-stop")
                button(class="start fa fa-play")
                button(class="stop fa fa-pause")
                button(class="skip fa fa-step-forward")

            p.countdown COUNTDOWN

        block footer

    // BLANK CARD - NO VIDEO
    #card_lorem(data-role='page')

        block arrow-logo

        .content.bg_white(data-role='content')
            h1 CARD
            p
                | Lorem ipsum dolor sit amet&comma; consectetuer adipiscing elit&comma; sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat&period; Ut wisi enim ad minim veniam&comma; quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat&period;

        block footer
