doctype html
html
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='./css/jquery/jquery.mobile-1.4.5.min.css')
        link(rel='stylesheet', href='./css/style.css')
        link(rel='stylesheet', href='./css/TimeCircles.css')
        link(rel='stylesheet', href='./css/readme.css')
        link(rel='stylesheet', href='./css/font-awesome-4.1.0/css/font-awesome.min.css')


    body(class="ui-mobile-viewport")

        block content

        script(src='./js/jquery-2.1.3.min.js')
        script(src='./js/jquery-mobile-overrides.js')
        script(src='./js/jquery.mobile-1.4.5.min.js')
        script(src='./js/fastclick.min.js')
        script(src='./js/main.js')
        script(src='./js/TimeCircles.js')
        script(src='cordova.js')
