 // VARIABLES

@font-face {
    font-family: "HelveticaNeue-Roman";
    src: url('../fonts/HelveticaNeue-Roman.otf') format("opentype");
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url('../fonts/HelveticaNeue-Bold.otf') format("opentype");
}

@font-face {
    font-family: "HelveticaNeue-UltraLight";
    src: url('../fonts/HelveticaNeue-UltraLight.otf') format("opentype");
}

// these global colors were from themeroller
// bundled into app originally from app.min.css
@app-orange: #fb8400; // used to be #f57b00, #fC8500 might be too red
@btn-hover-color: #fbad56;

// these colors were not in themeroller
@app-brown: #bc6c18;
@app-midbrown: #e2821c;
@sals-orange: #fc9829; // this is for bottom part of main screen
@app-background: #f4f4f4;


 // jQuery MOBILE STYLE AND THEME OVERRIDES

.ui-header.ui-bar-inherit {
    background-color: #fff;
    border: none;
    img {
        padding: 22px;
        height: 22px;
        vertical-align: middle;
    }
}

header.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
    padding-top: 18px;
    padding-bottom: 18px;
    height: 30px;
}

.ui-listview>li>a.ui-btn{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: none;
    border-right: none;
}

.ui-listview>li.ui-first-child, .ui-listview>li.ui-first-child>a.ui-btn { border-radius: 0; }

footer.ui-bar.ui-footer.ui-bar-inherit { padding-left: 0; }

// END OF jQUERY OVERRIDES

#main-menu {
    background: #fc9829;
    .ui-listview>li:nth-child(3), .ui-listview>li:nth-child(3)>a.ui-btn {
        background-color: @sals-orange;
        // &:active { background-color: @btn-hover-color; }
        // &:hover { background-color: @btn-hover-color; }
    }
    .ui-listview>li:nth-child(4), .ui-listview>li:nth-child(4)>a.ui-btn {
        background-color: @sals-orange;
        // &:active { background-color: @btn-hover-color; }
        // &:hover { background-color: @btn-hover-color; }
    }
    .ui-listview>li:nth-child(5), .ui-listview>li:nth-child(5)>a.ui-btn {
        background-color: @sals-orange;
        // &:active { background-color: @btn-hover-color; }
        // &:hover { background-color: @btn-hover-color; }
    }
}

.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
    border-right-width: 0;
    border-left-width: 0;
    height: 32px;
    padding-top: 22px;
    border-color: rgba(255,255,255,0.5);
}

a.ui-btn.ui-btn-icon-notext.ui-corner-all {
    background: #232323;
    border: none;
    &:after { background-color: #232323; }
}


// block of overrides from app.min.css
.ui-overlay-a,.ui-page-theme-a,.ui-page-theme-a .ui-panel-wrapper{background-color:@app-orange ;border-color:rgba(255, 255, 255, 0.5) ;text-shadow:none !important;}
.ui-page-theme-a .ui-btn,html .ui-bar-a .ui-btn,html .ui-body-a .ui-btn,html body .ui-group-theme-a .ui-btn,html head + body .ui-btn.ui-btn-a,.ui-page-theme-a .ui-btn:visited,html .ui-bar-a .ui-btn:visited,html .ui-body-a .ui-btn:visited,html body .ui-group-theme-a .ui-btn:visited,html head + body .ui-btn.ui-btn-a:visited{background-color:@app-orange ;border-color:rgba(255, 255, 255, 0.5) ;color:#fff ;text-shadow:none !important;}
.ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head + body .ui-btn.ui-btn-a:active {background-color:@app-orange ;border-color:rgba(255, 255, 255, 0.5) ;color:#fff ;text-shadow:none !important;}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {background-color:@btn-hover-color ;border-color:rgba(255, 255, 255, 0.5);text-shadow:none !important;color:#fff !important;}
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head+body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head+body .ui-btn-a.ui-focus, html head+body .ui-body-a.ui-focus{background-color:@app-orange ;border-color:rgba(255, 255, 255, 0.5) ;color:#fff ;text-shadow:none !important; box-shadow: none;}

.ui-page-theme-a a:visited, html .ui-bar-a a:visited, html .ui-body-a a:visited, html body .ui-group-theme-a a:visited { color:#fff; }
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a { color:#000; }
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active { background-color:@app-orange; }

// end of overrides from app.min.css


.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a.ui-panel-wrapper {
    position: relative;
    width: 100%;
}

.ui-body-a, body {
    color:#5E6062;
    font-family: "HelveticaNeue-Light";
    margin:auto;
    font-size:14px;
    line-height:1.25;
    height: 100%;
    background:@app-orange;
}

.ui-body-a .ui-link, a {
    text-decoration:none;
    color: #fff;
    display: block;
}

.ui-body-a .ui-link:active,
.ui-body-a .ui-link:visited {
    color: #fff;
}

.ui-bar.ui-footer.ui-bar-inherit {
    background-color:#232323;
    border-color: #232323;
    text-shadow: 0 0 #232323;
    bottom:0;
    position: fixed;
    width:100%;
    a.ui-btn { margin: 10px; }
}

.ui-header.ui-bar-a img {
    height: 27px;
    width: 27px;
    padding-top: 1em;
    padding-left: 1em;
}

.ui-grid-a>.ui-block-a,
.ui-grid-a>.ui-block-b {
    border-bottom: none;
}

.ui-grid-a>.ui-block-a { border-right: 1px solid #fff; }

 // REGULAR STYLING

.uppercase { text-transform: uppercase; }

.bg_orange {
    background-color: @app-orange;
    font-size:12px;
    font-family: "HelveticaNeue-Bold";
    text-transform:uppercase;
}

.bg_white {
    background-color: @app-background;
    padding:16px;
    margin-bottom: 60px;
}

.reference-title { height: 35px; }

h1 {
    font-family: "HelveticaNeue-Light";
    font-size:14px;
    color: #d97900;
    margin-top: 3ex;
}

.footnote {
    font-size: 10px;
    font-weight: normal;
    padding-top: 2px;
    margin-top: 0;
    text-transform: lowercase;
}

.star-logo {
    font-size: 24px;
    color: @app-orange;
    vertical-align: middle;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.fa-clock-o:before {
    padding-right: 5px;
    color: #d97900;
}

#arrow-nav {
   position: absolute;
   width: 15px;
   height: 15px;
   background: @app-orange;
   margin: 8px 0 0 23px;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
}
#arrow-nav:after {
   position: absolute;
   width: 20px;
   height: 20px;
   background: white;
   margin: 5px;
   content: "";
}

#content { border-top: 1px solid #fff; }

.content {
    min-height: 600px;
    margin-bottom: 60px;
}

.content-header {
    height: 165px;
    background-color:@app-orange;
    padding: 75px 0px 40px 40px;
}

#follow_us a.ui-link {
    color: #232323;
    font-family: "HelveticaNeue-Roman";
    font-size: 14px;
    font-weight: normal;
    i {
        color: grey;
        padding-right: 10px;
        font-size: 40px;
        vertical-align: middle;
    }
    &:active,
    &:active i { color: #d97900; }
}

#music_control a.ui-link {
        // color: #d97900;
        color: #60686F;
        font-family: "HelveticaNeue-Roman";
        font-size: 12px;
        font-weight: normal;
        text-align: right;
        padding-right: 20px;
        padding-bottom: 12px;
        background-color: #fff;
        i {
            // color: #d97900;
            color: #60686F;
            padding-right: 5px;
            font-size: 20px;
            vertical-align: middle;
        }
        &:active,
        &:active i { color: #60686F; }
}

#credits {
    dt { font-family: "HelveticaNeue-Bold"; }
    dd { margin: 0 0 30px; }
}

.card-description > a.ui-btn {
    white-space: pre-wrap !important;
    text-overflow: initial !important;
    overflow: visible !important;
    line-height: 1.25;
    height: 80px;
    padding: 20px;
    vertical-align: bottom;
    // &:active { background-color: @btn-hover-color; }
}

#card_0,#card_1,#card_2,#card_3,#card_4,#card_5,#card_6,
#card_7,#card_8,#card_9,#card_10,#card_11,#card_12,
#card_13 {
    background: @app-background;

    .bg_white { margin: 55% 0 0; }
}

#movie {
    position: absolute;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    background: @app-background;
    overflow: hidden;
    min-height: 180px;
}

.myVideo {
    width: 102%;
    background: @app-background;
}

.technique-info {
    background-color: #5E6062;
 }

img {
    max-width:100%;
    height:auto;
}

.rolandImg {
    max-width: 20%;
    float: right;
    padding: 1em;
    margin-top: 10px;
}


// INAPPBROWSER

.inAppBrowserWrap {
  background-color: rgba(0,0,0,0.75);
  color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}
