@font-face {
  font-family: "HelveticaNeue-Roman";
  src: url('../fonts/HelveticaNeue-Roman.otf') format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url('../fonts/HelveticaNeue-Bold.otf') format("opentype");
}
@font-face {
  font-family: "HelveticaNeue-UltraLight";
  src: url('../fonts/HelveticaNeue-UltraLight.otf') format("opentype");
}
.ui-header.ui-bar-inherit {
  background-color: #fff;
  border: none;
}
.ui-header.ui-bar-inherit img {
  padding: 22px;
  height: 22px;
  vertical-align: middle;
}
header.ui-header.ui-bar-inherit.ui-header-fixed.slidedown {
  padding-top: 18px;
  padding-bottom: 18px;
  height: 30px;
}
.ui-listview > li > a.ui-btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: none;
  border-right: none;
}
.ui-listview > li.ui-first-child,
.ui-listview > li.ui-first-child > a.ui-btn {
  border-radius: 0;
}
footer.ui-bar.ui-footer.ui-bar-inherit {
  padding-left: 0;
}
#main-menu {
  background: #fc9829;
}
#main-menu .ui-listview > li:nth-child(3),
#main-menu .ui-listview > li:nth-child(3) > a.ui-btn {
  background-color: #fc9829;
}
#main-menu .ui-listview > li:nth-child(4),
#main-menu .ui-listview > li:nth-child(4) > a.ui-btn {
  background-color: #fc9829;
}
#main-menu .ui-listview > li:nth-child(5),
#main-menu .ui-listview > li:nth-child(5) > a.ui-btn {
  background-color: #fc9829;
}
.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
  border-right-width: 0;
  border-left-width: 0;
  height: 32px;
  padding-top: 22px;
  border-color: rgba(255, 255, 255, 0.5);
}
a.ui-btn.ui-btn-icon-notext.ui-corner-all {
  background: #232323;
  border: none;
}
a.ui-btn.ui-btn-icon-notext.ui-corner-all:after {
  background-color: #232323;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
  background-color: #fb8400;
  border-color: rgba(255, 255, 255, 0.5);
  text-shadow: none !important;
}
.ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html head + body .ui-btn.ui-btn-a,
.ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html head + body .ui-btn.ui-btn-a:visited {
  background-color: #fb8400;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff ;
  text-shadow: none !important;
}
.ui-page-theme-a .ui-btn:active,
html .ui-bar-a .ui-btn:active,
html .ui-body-a .ui-btn:active,
html body .ui-group-theme-a .ui-btn:active,
html head + body .ui-btn.ui-btn-a:active {
  background-color: #fb8400;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff ;
  text-shadow: none !important;
}
.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
  background-color: #fbad56;
  border-color: rgba(255, 255, 255, 0.5);
  text-shadow: none !important;
  color: #fff !important;
}
.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head + body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head + body .ui-btn-a.ui-focus,
html head + body .ui-body-a.ui-focus {
  background-color: #fb8400;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff ;
  text-shadow: none !important;
  box-shadow: none;
}
.ui-page-theme-a a:visited,
html .ui-bar-a a:visited,
html .ui-body-a a:visited,
html body .ui-group-theme-a a:visited {
  color: #fff;
}
.ui-page-theme-a a,
html .ui-bar-a a,
html .ui-body-a a,
html body .ui-group-theme-a a {
  color: #000;
}
.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
  background-color: #fb8400;
}
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a.ui-panel-wrapper {
  position: relative;
  width: 100%;
}
.ui-body-a,
body {
  color: #5E6062;
  font-family: "HelveticaNeue-Light";
  margin: auto;
  font-size: 14px;
  line-height: 1.25;
  height: 100%;
  background: #fb8400;
}
.ui-body-a .ui-link,
a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.ui-body-a .ui-link:active,
.ui-body-a .ui-link:visited {
  color: #fff;
}
.ui-bar.ui-footer.ui-bar-inherit {
  background-color: #232323;
  border-color: #232323;
  text-shadow: 0 0 #232323;
  bottom: 0;
  position: fixed;
  width: 100%;
}
.ui-bar.ui-footer.ui-bar-inherit a.ui-btn {
  margin: 10px;
}
.ui-header.ui-bar-a img {
  height: 27px;
  width: 27px;
  padding-top: 1em;
  padding-left: 1em;
}
.ui-grid-a > .ui-block-a,
.ui-grid-a > .ui-block-b {
  border-bottom: none;
}
.ui-grid-a > .ui-block-a {
  border-right: 1px solid #fff;
}
.uppercase {
  text-transform: uppercase;
}
.bg_orange {
  background-color: #fb8400;
  font-size: 12px;
  font-family: "HelveticaNeue-Bold";
  text-transform: uppercase;
}
.bg_white {
  background-color: #f4f4f4;
  padding: 16px;
  margin-bottom: 60px;
}
.reference-title {
  height: 35px;
}
h1 {
  font-family: "HelveticaNeue-Light";
  font-size: 14px;
  color: #d97900;
  margin-top: 3ex;
}
.footnote {
  font-size: 10px;
  font-weight: normal;
  padding-top: 2px;
  margin-top: 0;
  text-transform: lowercase;
}
.star-logo {
  font-size: 24px;
  color: #fb8400;
  vertical-align: middle;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.fa-clock-o:before {
  padding-right: 5px;
  color: #d97900;
}
#arrow-nav {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fb8400;
  margin: 8px 0 0 23px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#arrow-nav:after {
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  margin: 5px;
  content: "";
}
#content {
  border-top: 1px solid #fff;
}
.content {
  min-height: 600px;
  margin-bottom: 60px;
}
.content-header {
  height: 165px;
  background-color: #fb8400;
  padding: 75px 0px 40px 40px;
}
#follow_us a.ui-link {
  color: #232323;
  font-family: "HelveticaNeue-Roman";
  font-size: 14px;
  font-weight: normal;
}
#follow_us a.ui-link i {
  color: grey;
  padding-right: 10px;
  font-size: 40px;
  vertical-align: middle;
}
#follow_us a.ui-link:active,
#follow_us a.ui-link:active i {
  color: #d97900;
}
#music_control a.ui-link {
  color: #60686F;
  font-family: "HelveticaNeue-Roman";
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 12px;
  background-color: #fff;
}
#music_control a.ui-link i {
  color: #60686F;
  padding-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}
#music_control a.ui-link:active,
#music_control a.ui-link:active i {
  color: #60686F;
}
#credits dt {
  font-family: "HelveticaNeue-Bold";
}
#credits dd {
  margin: 0 0 30px;
}
.card-description > a.ui-btn {
  white-space: pre-wrap !important;
  text-overflow: initial !important;
  overflow: visible !important;
  line-height: 1.25;
  height: 80px;
  padding: 20px;
  vertical-align: bottom;
}
#card_0,
#card_1,
#card_2,
#card_3,
#card_4,
#card_5,
#card_6,
#card_7,
#card_8,
#card_9,
#card_10,
#card_11,
#card_12,
#card_13 {
  background: #f4f4f4;
}
#card_0 .bg_white,
#card_1 .bg_white,
#card_2 .bg_white,
#card_3 .bg_white,
#card_4 .bg_white,
#card_5 .bg_white,
#card_6 .bg_white,
#card_7 .bg_white,
#card_8 .bg_white,
#card_9 .bg_white,
#card_10 .bg_white,
#card_11 .bg_white,
#card_12 .bg_white,
#card_13 .bg_white {
  margin: 55% 0 0;
}
#movie {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  background: #f4f4f4;
  overflow: hidden;
  min-height: 180px;
}
.myVideo {
  width: 102%;
  background: #f4f4f4;
}
.technique-info {
  background-color: #5E6062;
}
img {
  max-width: 100%;
  height: auto;
}
.rolandImg {
  max-width: 20%;
  float: right;
  padding: 1em;
  margin-top: 10px;
}
.inAppBrowserWrap {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ebebeb;
}
.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background: rgba(30, 30, 30, 0.5);
}
.inAppBrowserWrap menu li.disabled {
  color: #777;
}
